{% extends "base.html" %}
{% block content %}
    <h2>Product List</h2>
    <p>Products count: {{ products.count }}</p>
    <div>
        <form method="get">
            {% for category in categories %}
                <div>
                    <input type="checkbox" name="category_id" value="{{ category.id }}" id="category_{{ category.id }}"
                        {% if category.id|stringformat:"s" in selected_category_ids %} checked {% endif %}>
                    <label for="category_{{ category.id }}">{{ category.name }}</label>
                </div>
            {% endfor %}
            <button type="submit">Filter</button>
        </form>
    </div>

    <div>
        <ul>
            {% for product in products %}
                <li>
                    <a href="{% url 'products:product-detail' pk=product.id %}">{{ product.name }}</a> - {{ product.price }}
                    {% if product.quantity > 0 %}
                        <form method="post" action="{% url 'products:add-to-cart' product.id %}">
                            {% csrf_token %}
                            <button type="submit">Add to cart</button>
                        </form>
                    {% else %}
                        Out of stock
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
