{% extends "base.html" %}
{% block content %}
    <h2>Product List</h2>
    <ul>
        {% for product in products %}
            <li><a href="{% url 'products:product-detail' pk=product.id %}" >{{ product.name }}</a> - {{ product.price }}
              <form method="post" action="{% url 'products:add-to-cart' product.id %}">
                {% csrf_token %}
                <button type="submit">Add to cart</button>
              </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}


